<%= form_for(cart) do |f| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :owner, class: "mdl-textfield__input" %> <%= f.label :owner, "Dono", class: "mdl-textfield__label" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= search_field_tag "product", "", class: "mdl-textfield__input" %>
    <%= label_tag "product", "Adicionar produto ao carrinho", class: "mdl-textfield__label" %>
  </div>

  <a class="mdl-button" id="add-product">Criar e adicionar produto</a>

  <%= render "cart_items/cart_items", cart_items: cart.cart_items, f: f %>

  <div>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="cash">
      <input id="cash" class="mdl-radio__button" type="radio" name="paymentMethod" value="cash" checked>
      <span class="mdl-radio__label">Dinheiro</span>
    </label>

    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="debit-card">
      <input id="debit-card" class="mdl-radio__button" type="radio" name="paymentMethod" value="debitCard">
      <span class="mdl-radio__label">Débito</span>
    </label>

    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="credit-card">
      <input id="credit-card" class="mdl-radio__button" type="radio" name="paymentMethod" value="creditCard">
      <span class="mdl-radio__label">Crédito</span>
    </label>

    <div class="credit-card-provider">
      <label>
        <input type="radio" name="provider" value="payleven" checked>
        Payleven
      </label>

      <label>
        <input type="radio" name="provider" value="picpay">
        PicPay
      </label>
    </div>

    <div class="installments">
      <label for="installments">Parcelas:</label>
      <select id="installments">
        <option value="0">1x</option>
        <option value="1">2x</option>
        <option value="2">3x</option>
        <option value="3">4x</option>
        <option value="4">5x</option>
        <option value="5">6x</option>
        <option value="6">7x</option>
        <option value="7">8x</option>
        <option value="8">9x</option>
        <option value="9">10x</option>
        <option value="10">11x</option>
        <option value="11">12x</option>
      </select>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--primary" %>
  </div>
<% end %>

<dialog class="mdl-dialog" id="create-product-dialog">
  <%= render 'products/form', product: Product.new %>
</dialog>
