<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<%= form_tag new_cart_path do %>
  <input type="text" name="cart[owner]" id="cart-owner">
<% end %>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.owner %></td>
        <td><%= cart.total.format %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <tr>
      <td>Total:</td>
      <td><%= @carts.map(&:total).sum.format %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
