<tr>
  <td><%= cart_item.product.name %></td>
  <td data-product-price-cents="<%= cart_item.product.price_cents %>"><%= cart_item.product.price.format %></td>
  <td>
    <% total = cart_item.product.remaining + cart_item.quantity %>
    <%= f.number_field :quantity, min: 1, max: total, class: "quantity" %> / <%= total %>
  </td>
  <td><%= f.check_box :picked_up %></td>
  <td class="cart-item-price"><%= cart_item.price.format %></td>
  <td>
    <%= f.hidden_field :_destroy, class: "destroy" %>
    <a class="destroy-cart-item mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent">
      <i class="material-icons">close</i>
    </a>
  </td>
</tr>
