<tr>
  <td><%= cart_item.product.name %></td>
  <td><%= cart_item.product.price.format %></td>
  <td>
    <% total = cart_item.product.remaining + cart_item.quantity %>
    <%= f.number_field :quantity, min: 1, max: total %> / <%= total %>
  </td>
  <td>
    <%= f.hidden_field :_destroy, class: "destroy" %>
    <a class="destroy-cart-item">x</a>
  </td>
</tr>
